<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">


  <label for="inputFirstname">First Name:</label>
  <input type="text" formControlName="firstName" id="inputFirstname">
  <div id="errorFirstName" *ngIf="registrationForm.get('firstName')?.invalid && (registrationForm.get('firstName')?.dirty || registrationForm.get('firstName')?.touched || !registrationForm.get('firstName')?.value)">
    <div *ngIf="registrationForm.get('firstName')?.errors?.['required']">
      First Name is required.
    </div>
    
    <div *ngIf="registrationForm.get('firstName')?.errors?.['minLength']">
      First Name must be at least 3 characters long.
    </div>
    
    <div *ngIf="registrationForm.get('firstName')?.errors?.['maxLength']">
      First Name cannot be more than 50 characters long.
    </div>
    <div *ngIf="registrationForm.get('firstName')?.errors?.['pattern']">
      First Name can only contain alphabets.
    </div>
  </div>
  <label for="gender">Gender:</label>
  
<input type="checkbox" name="gender" value="male"> Male
<input type="checkbox" name="gender" value="female"> Female
  <div id="errorGender" *ngIf="registrationForm.get('gender')?.invalid && (registrationForm.get('gender')?.dirty || registrationForm.get('gender')?.touched)">
    Gender is required.
  </div>
<label for="country">Country of Origin:</label>
<select formControlName="country" id="country">
<option value=""></option>
<option value="US">United States</option>
<option value="Canada">Canada</option>
<option value="India">India</option>
<option value="China">China</option>
<option value="Russia">Russia</option>
<option value="Finland">Finland</option>
</select>

<div id="errorCountry" *ngIf="registrationForm.get('country')?.invalid && (registrationForm.get('country')?.dirty || registrationForm.get('country')?.touched || !registrationForm.get('country')?.value)">
    Country is required.
  </div>
<label for="city">City of Origin:</label>
<input type="text" formControlName="city" id="city">

  <div id="errorCity" *ngIf="registrationForm.get('city')?.invalid && (registrationForm.get('city')?.dirty || registrationForm.get('city')?.touched)|| !registrationForm.get('city')?.value">
    City is required.
  </div>
<label for="inputAge">Age:</label>
<input type="text" formControlName="age" id="inputAge">

<div id="errorAge" *ngIf="registrationForm.get('age')?.invalid && (registrationForm.get('age')?.dirty || registrationForm.get('age')?.touched) || !registrationForm.get('age')?.value">
  <div *ngIf="registrationForm.get('age')?.errors?.[REQUIRED]">
    Age is required for selected countries.
  </div>
  <div *ngIf="registrationForm.get('age')?.errors?.['pattern']">
   Age can not be an alphabets.
  </div>
</div>
<button type="submit" id="submit">Submit</button>

</form>

